html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding-top: 10px;
}

.container {
    margin-left: 10px;
}

.container > * {
    margin-left: 10px;
}

canvas {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}

.button {
    text-decoration: none;
    color: black;
    padding: 1px;
    border: solid black 1px;
    margin-left: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}