html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding-top: 10px;
}

.container-buttons {
    margin-left: 10px;
}

.container-buttons > * {
    margin-left: 10px;
}

canvas {
    display: block;
    position: absolute;
    top: 42px;
    left: 10px;
    z-index: 1;
}

.container {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.container-above {
    position: absolute;
    z-index: 2;
    width: 1440px;
}

.container-below {
    position: absolute;
    z-index: 0;
    width: 1440px;
}

.map {
    height: 704px;
    width: 1440px;
    position: absolute;
}

.button {
    text-decoration: none;
    color: black;
    padding: 1px;
    border: solid black 1px;
    margin-left: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}